<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DealershipManager2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
                  </configSections>
  <connectionStrings>
    <add name="DealershipManagerConnectionString" connectionString="Server=Vsystem101;Database=DealershipManager;User Id=DealershipManager;Password=ba1l0ut!;Persist Security Info=True;"
      providerName="System.Data.SqlClient" />
    <add name="DealershipManagerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=Vsystem101;Database=DealershipManager;User Id=DealershipManager;Password=ba1l0ut!;Persist Security Info=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DealershipManager2._0.Properties.Settings.DealershipManagerConnectionString"
      connectionString="Data Source=Vsystem101;Initial Catalog=DealershipManager;Persist Security Info=True;User Id=DealershipManager;Password=ba1l0ut!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DealershipManager2._0.Properties.Settings>
      <setting name="GST" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="ImageFilePath" serializeAs="String">
        <value>\\VSYSTEM101\VehiclePhotos\</value>
      </setting>
    </DealershipManager2._0.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
